<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test1</title>
</head>
<body>
    <div id="app">
      1:<input type="radio" v-model="picked" value="1">
      2:<input type="radio" v-model="picked" value="2">
      <p>{{picked}}</p>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        Vue.createApp({
            data(){
                return{
                  picked:1
                }
            }

        }).mount('#app');
    </script>
</body>
</html>